.hero-banner{
    background-image: url('https://www.biznetnetworks.com/assets/city/klaten_1400x500.jpg');
    background-size: cover;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
}

.footer{
    height: 50px;
}